/* variables */

--root {
  --bg: #1dbf73;
  --primaryBackground: rgba(255, 255, 255, 1);
  --secondaryBackground: rgba(22, 69, 93, 1);
  --tertiaryBackground: rgba(239, 239, 239, 1);
  --primaryFont: rgba(0, 0, 0, 0.87);
  --secondaryFont: rgba(116, 116, 116, 0.8);
  font-size: 16px;
  font-size: 62.5%;
}

/* =================== */
/* reset */
/* =================== */

* {
  margin: 0;
  /* padding: 0; */
  text-decoration-style: 0;
  text-decoration: none;
}

body {
  height: 100%;
  margin: 0;
}

li {
  list-style-type: none;
}

/* =================== */
/* base styles */
/* =================== */

body {
  /* background-color: #56bf7f; */
  color: black;
}

/* =================== */
/* fonts */
/* =================== */

h1 {
  font-size: 3.5rem;
  font-family: "Kanit", sans-serif;
}
h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: light;
  text-transform: uppercase;
}

h4 {
  font-size: 0.9;
  text-transform: uppercase;
  font-weight: light;
}

p {
  font-size: 1.2rem;
  font-weight: light;
}

/* mobile styles */
/* small tablet styles */
@media screen and (min-width: 620px) {
}

#pageBody {
  /* width: 65%; */
  height: 100%;
  margin: auto;
  cursor: auto;
  position: relative;
  background-color: yellow;
  z-index: 5;
  overflow-y: hidden;
}

header {
  text-align: center;

  position: relative;
  /* background-color: yellow; */
  display: inline-block;
  min-height: 20%;
  max-height: 100%;
  width: 65%;
  z-index: -1;
  top: 40%;
  left: 10%;
  margin: auto;
  cursor: pointer;
  outline: none;
}

/* header:focus > h1 {
  display: none;
  width: 0rem;
} */

#eventsContainer {
  margin-top: 2rem;
  background-color: purple;
  height: 80%;
  max-width: 65%;
  margin: auto;
  display: none;
  z-index: 5;
}

header::before {
  content: " ";
  position: absolute;
  width: 40rem;
  height: 40rem;
  right: -5rem;
  top: -20rem;
  background-color: white;
  border-radius: 50%;
  z-index: -5;
}

/* header::after {
  content: " ";
  position: absolute;
  width: 40rem;
  height: 40rem;
  right: -5rem;
  top: -15rem;
  background-color: white;
  border-radius: 50%;
  z-index: -1;
} */

/* .dateHeader {
  padding: 16px 0px;
  padding: 1rem;
}
.type,
.host {
  padding: 5px 0;
} */

.event-listing-container {
  /* background-color: var(--primaryBackground); */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin: 1rem 2rem;
  border-radius: 3%;
}

/* .eventsDate {
  margin: 50px;
  background-color: #fadab9;
} */

.time {
  grid-column: 1/2;
  grid-row: 1;
  padding-top: 0.5rem;
  font-size: 1.2rem;
  color: var(--secondaryFont);
}

.host {
  grid-column: 2/8;
  grid-row: 1;
  padding-top: 0.5rem;
  color: var(--secondaryFont);
}

.title {
  grid-column: 2/8;
  grid-row: 2/3;
}
.type {
  grid-column: 2/8;
  grid-row: 4;
  padding-bottom: 0.5rem;
  color: var(--secondaryFont);
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px) {
}

/* desktop styles */
@media screen and (min-width: 1200px) {
}
