/* variables */

--root {
  --primaryBackground: rgba(255, 255, 255, 1);
  --secondaryBackground: rgba(22, 69, 93, 1);
  --primaryFont: rgba(0, 0, 0, 0.87);
  --secondaryFont: rgba(0, 0, 0, 0.54);
  font-size: 62.5%;
}

/* =================== */
/* reset */
/* =================== */

* {
  margin: 0;
  padding: 0;
  text-decoration-style: 0;
  color: var(--primaryFont);
  text-decoration: none;
}

.dateHeader {
  /* margin: 10px; */
}

.eventHeader {
  /* margin: 0 30px; */
}
li {
  list-style-type: none;
}

/* =================== */
/* base styles */
/* =================== */

body {
  background: var(--primaryBackground);
  overflow-y: hidden;
}

.button {
  background: var(--secondaryBackground);
  border: 2px solid var(--secondaryBackground);
  color: var(--primaryFont);
  padding: 6px 12px;
  border-radius: 12px;
  text-transform: uppercase;
  display: inline-block;
}

input,
textarea {
  background: var(--primaryBackground);
}

/* =================== */
/* fonts */
/* =================== */

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 0.9;
  text-transform: uppercase;
}

p {
  font-size: 1.2rem;
}

/* mobile styles */

.event-listing-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.time {
  grid-column: 1/2;
  grid-row: 1;
}

.host {
  grid-column: 2/8;
  grid-row: 1;
}

.title {
  grid-column: 2/8;
  grid-row: 2/3;
}
.type {
  grid-column: 2/8;
  grid-row: 4;
}
/* small tablet styles */
@media screen and (min-width: 620px) {
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px) {
}

/* desktop styles */
@media screen and (min-width: 1200px) {
}
